**/.git
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.DS_Store
.env
.env.*
venv/
.venv/
db.sqlite3
*.sqlite3
mediafiles/
media/
staticfiles/
node_modules/
static/node_modules/
docs/
*.log
*.key
*.pem
angel.pem
creds.txt
users.json
user.json
ssl-certs/
