{% extends "home.html" %}
{% load i18n %}
{% load l10n %}
{% load static %}
{% block title %}{% trans 'Report' %}{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top: 0.6rem">
      <div class="card bg-gradient-success shadow">
        <div class="card-header">
          <h3 class="card-title">{% trans "Upcoming appointments" %}</h3>
          <div class="card-tools">
            <button onclick="window.location.reload()" type="button" class="btn btn-tool">
              <i class="fas fa-sync"></i>
            </button>
          </div>
        </div>

        <div class="card-body">
          <div class="card">
              {% for event in recent_events %}
                <ul class="list-group shadow">
                  <li class="list-group-item d-flex justify-content-between">
                    <div style="color: black;">{{ event.patient.full_name }} ({{ event.patient.mobile_phone }})</div>
                    <div style="float: right">
                      <span class="badge bg-info shadow" style="font-size: 1rem">{{ event.start_time|date:"d.m.Y" }} </span>
                      <span class="badge bg-warning shadow" style="font-size: 1rem">{{ event.start_time|date:"H:i" }} - {{ event.end_time|date:"H:i" }}</span>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <span style="color: black;">{{ event.title }}</span>
                  </li>
                </ul>
              {% endfor %}
          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top: 0.6rem">
      <div class="card bg-gradient-warning shadow">
        <div class="card-header">
          <h3 class="card-title">{% trans "Notes" %}</h3>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            <textarea rows="4" id="notes" name="notes" class="form-control">{% if staff_notes %}{{ staff_notes }}{% endif %}
            </textarea>
            <button type="submit" class="btn btn-block bg-gradient-info btn-sm" style="width: auto; float: right; margin-top: 0.5rem">{% trans "Save" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


