{% extends "booket/container.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% block title %} {% trans "Dashboard" %}{% endblock %}
{% block content %}
  <style>
      .fc-event.post-event {
          background-color: #989797; /* Example: Light gray background */
          opacity: 0.7; /* Example: Slightly transparent */
          border-color: #999; /* Example: Darker gray border */
      }

      .fc-event-main {
          cursor: pointer;
          box-shadow: 2px 2px 1px darkgrey;
      }

      .button-shadow {
          box-shadow: 2px 2px 1px darkgrey;
      }

      .no-show-event {
          background-color: darkgoldenrod;
      }

      .tooltip { background-color: black; color: white; padding: 5px; border-radius: 3px; font-size: 12px; }
  </style>
  <link href="{% static 'dt/datatables.min.css' %}" rel="stylesheet">
  <script src="{% static 'fc/dist/index.global.min.js' %}"></script>
  <script src="{% static 'fc/packages/core/locales-all.global.min.js' %}"></script>
  {% get_current_language as LANG_CODE %}
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="card bg-primary text-white shadow" style="margin-top: 5px;">
          <div class="card-header">{% trans 'Upcoming appointment' %}<span onclick="location.reload()"
                                                                           style="float:right;"><i
            class="fa-solid fa-arrows-rotate" style="cursor: pointer;"></i></span></div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">
                <span><i class="fa-solid fa-clock fa-spin"></i> {% trans 'Time' %}: </span>
                <span
                  style="float:right;"><b>{{ appointment.start_datetime|time:"H:i" }} - {{ appointment.end_datetime|time:"H:i" }}</b> {{ appointment.end_datetime|date:"d.m.y" }}</span>
              </li>
              <li class="list-group-item">
                <span><i class="fa-solid fa-user"></i> {% trans 'Client' %}:</span> <span
                style="float:right;">{{ appointment.client.full_name }}</span>
              </li>
              {% if appointment.client.phone_number %}
                <li class="list-group-item">
                  <span><i class="fa-solid fa-mobile-retro"></i> {% trans 'Phone' %}:</span> <span
                  style="float:right;">{{ appointment.client.phone_number }}</span>
                </li>
              {% endif %}
              {% if appointment.client.email %}
                <li class="list-group-item">
                  <span><i class="fa-solid fa-envelope"></i> {% trans 'Email' %}</span>
                  <span style="float: right;">{{ appointment.client.email }}</span>
                </li>
              {% endif %}
              <ul class="list-group">
                {% for s in appointment.appointmentservice_set.all %}
                  <li class="list-group-item">
                      <span>
                        {% if LANG_CODE == 'uz' %}
                          {{ s.service.name_uz }}
                        {% elif LANG_CODE == 'ru' %}
                          {{ s.service.name_ru }}
                        {% else %}
                          {{ s.service.name }}
                        {% endif %}
                      </span>
                  </li>
                {% endfor %}
              </ul>
              {% if appointment.comment %}
                <li class="list-group-item">
                  <span><i class="fa-solid fa-circle-info fa-beat-fade"></i></span>
                  <span>{{ appointment.comment }}</span>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="card bg-success text-white shadow" style="margin-top: 5px;">
          <div class="card-header">{% trans 'Today' %}</div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item list-group-item-success">
                <span>{% trans 'Completed' %}</span>
                <h1 style="float: right;">{{ today_completed_appointments_count }}</h1>
              </li>
              <li class="list-group-item list-group-item-primary">
                <span>{% trans 'All appointments' %}</span>
                <h1 style="float: right; padding: 2px; margin: 0;">{{ today_appointments_count }}</h1>
              </li>
              <li class="list-group-item list-group-item-warning">
                <span>{% trans 'No-show appointments' %}</span>
                <h1 style="float: right; padding: 0; margin: 0;">{{ today_no_show_appointments_count }}</h1>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="card bg-info text-white shadow" style="margin-top: 5px;">
          <div class="card-header">{% trans 'Reminder' %}</div>
          <div class="card-body">
            <form class="form-group" method="post">
              {% csrf_token %}
              <textarea class="form-control" name="memo" rows="6">{{ memo|safe }}</textarea>
              <button type="submit" class="btn btn-warning btn-sm"
                      style="margin-top: 17px; float:right;">{% trans 'Save' %}</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card shadow" style="padding: 10px; margin-top: 10px;">
          <div id="calendar">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa-solid fa-user"></i> <span id="client_name"></span></h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" id="modal-body">
          <ul class="list-group">
            <li class="list-group-item list-group-item-primary">
              <i class="fa-solid fa-clock"></i>
              <span id="timeframe"> 12:00 - 13:00</span>
              <span id="event_date" style="float: right">24.03.2025</span>
            </li>
            <li class="list-group-item list-group-item-primary client-phone" style="display: none;">
              <i class="fa-solid fa-phone"></i>
              <span>{% trans 'Phone' %}:</span>
              <span id="client_phone" style="float: right">Phone</span>
            </li>
            <li class="list-group-item list-group-item-primary client-email" style="display: none;">
              <i class="fa-solid fa-square-envelope"></i>
              <span>{% trans 'Email' %}:</span>
              <span id="client_email" style="float: right">Email</span>
            </li>
          </ul>
          <ul class="list-group" id="event_services">
          </ul>
          <ul class="list-group">
            <li class="list-group-item list-group-item-warning">
              <span>{% trans 'Status' %}:</span>
              <span id="event_status" style="float: right">Confirmed</span>
            </li>
            <li class="list-group-item list-group-item-info event-comment" style="display: none;">
              <i class="fa-solid fa-circle-info fa-beat"></i> Comments:
              <textarea class="form-control" id="event_comments"> Comments </textarea>
            </li>
          </ul>
          <ul class="list-group event-action" style="display: none;">
            <li class="list-group-item time-update" style="display: none;">
              <label
                style="font-size: 14px; color: red">{% trans "Make sure client has informed about the update!" %}</label>
              <div class="input-group input-group-sm">
                <span class="input-group-text">{% trans 'New time' %}</span>
                <input type="datetime-local" class="form-control" id="time_update" style="max-width: 180px;"
                       name="time_update">
              </div>
            </li>
            <li class="list-group-item cancel-appointment" style="display: none;">
              <span style="color: red;">{% trans 'CANCEL THE APPOINTMENT?' %}</span>
              <p>{% trans 'Inform client about cancellation!' %}</p>
            </li>
            <li class="list-group-item no-show" style="display: none;">
              <span style="color: red;">{% trans "Client didn't come for no reason?" %}</span>
            </li>
          </ul>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer d-flex justify-content-between">
          <div class="btn-group time-update" style="float:left;">
            <button id="btn_save_change" onclick="updateAppointment('change_time')" type="button"
                    class="btn btn-success button-shadow">{% trans 'Update' %}</button>
            <button onclick="backToEventActions()" type="button"
                    class="btn btn-warning button-shadow">{% trans 'Back' %}</button>
          </div>
          <div class="btn-group cancel-appointment" style="float:left;">
            <button id="btn_cancel" onclick="updateAppointment('cancel')" type="button"
                    class="btn btn-success button-shadow">{% trans 'Yes' %}</button>
            <button onclick="backToEventActions()" type="button"
                    class="btn btn-warning button-shadow">{% trans 'Back' %}</button>
          </div>
          <div class="btn-group no-show" style="float:left;">
            <button id="btn_no_show" onclick="updateAppointment('no_show')" type="button"
                    class="btn btn-success button-shadow">{% trans 'Yes' %}</button>
            <button onclick="backToEventActions()" type="button"
                    class="btn btn-warning button-shadow">{% trans 'Back' %}</button>
          </div>
          <div class="btn-group action-buttons" style="float:left;">
            <button id="btn_change" onclick="onChangeButtonClick()" type="button"
                    class="btn btn-primary button-shadow">{% trans 'Change' %}</button>
            <button id="btn_cancel" onclick="onCancelButtonClick()" type="button"
                    class="btn btn-warning button-shadow">{% trans 'Cancel' %}</button>
            <button id="btn_no_show" onclick="onNoShowButtonClick()" type="button"
                    class="btn btn-secondary button-shadow">{% trans 'No-show' %}</button>
          </div>
          <div style="float: right;">
            <button type="button" class="btn btn-danger button-shadow"
                    data-bs-dismiss="modal">{% trans 'Close' %}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- The APPOINTMENT CREATION Modal -->
  <div class="modal fade" id="createEventModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="btn-close" onclick="closeAddEventModal()"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" id="modal-body">
          <div class="card shadow">
            <div class="card-body">
              <form>
                <div class="mb-3 mt-3">
                  <label for="server_name" class="form-label">{% trans "Server" %}:</label>
                  <input type="hidden" value="{{ request.user.server_user.id }}" id="server_id">
                  <input type="text" disabled class="form-control" id="server_name" name="server_name"
                         value="{{ request.user.server_user }}">
                </div>
                <div class="mb-3 mt-3">
                  <label for="server_name" class="form-label">{% trans "Client" %}:</label>
                  <input type="text" disabled class="form-control" name="client_name" value="{% trans 'Guest' %}">
                </div>
                <div class="mb-3 mt-3">
                  <label for="date_start" class="form-label">{% trans "Starts at" %}:</label>
                  <input id="date_start" type="datetime-local" class="form-control" name="date_start">
                </div>
                <div class="mb-3 mt-3">
                  <label for="date_end" class="form-label">{% trans "Ends at" %}:</label>
                  <input id="date_end" type="datetime-local" class="form-control" name="date_end">
                </div>
                <div class="mb-3 mt-3">
                  <label for="date_end" class="form-label">{% trans "Comment" %}:</label>
                  <textarea id="comment" class="form-control"></textarea>
                </div>
                <button type="button" onclick="createGuestAppointment()" class="btn btn-success"
                        style="float: left">{% trans "Save" %}</button>
                <button type="button" onclick="closeAddEventModal()" style="float: right;"
                        class="btn btn-danger">{% trans "Close" %}</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}
{% block js %}
  {{ block.super }}
  <script>
      var calendar;
      var lang_code = $(`#cur_lang`).val();
      var dayStartsAt = "{{ appointment.server.providerserver_set.first.day_starts_on|date:'H:i' }}"
      var selectedAppointment = {};

      $(document).ready(function () {
          activateNavItem('dashboard-nav-link');
          drawCalendar();
          $('#time_update').on('input', checkTimeUpdateButton);
      });

      function showAddEventModal(date_time) {
          
           // Clear the input fields
          $('#date_start').val(''); // Clear the start date input
          $('#date_end').val('');   // Clear the end date input
          $('#comment').val('');    // Clear the comment textarea
          
          // If date_time is not provided, default to the current time
          const now = date_time ? new Date(date_time) : new Date();
      
          // Calculate the next 30-minute slice
          const minutes = now.getMinutes();
          const nextSlice = minutes < 30 ? 30 : 60;
          now.setMinutes(nextSlice, 0, 0); // Set minutes to the next 30-minute slice and reset seconds and milliseconds
      
          // Format the date and time in the required format (YYYY-MM-DDTHH:MM)
          const year = now.getFullYear();
          const month = String(now.getMonth() + 1).padStart(2, '0'); // Months are zero-based
          const day = String(now.getDate()).padStart(2, '0');
          const hours = String(now.getHours()).padStart(2, '0');
          const minutesFormatted = String(now.getMinutes()).padStart(2, '0');
      
          const defaultDateTime = `${year}-${month}-${day}T${hours}:${minutesFormatted}`;
      
          // Set the default value for the date_start input field
          $('#date_start').val(defaultDateTime);
          
          
          // Calculate one hour after the defaultDateTime
          const endDateTime = new Date(now);
          endDateTime.setHours(endDateTime.getHours() + 1); // Add one hour
      
          // Format the end date and time in the required format (YYYY-MM-DDTHH:MM)
          const endYear = endDateTime.getFullYear();
          const endMonth = String(endDateTime.getMonth() + 1).padStart(2, '0');
          const endDay = String(endDateTime.getDate()).padStart(2, '0');
          const endHours = String(endDateTime.getHours()).padStart(2, '0');
          const endMinutesFormatted = String(endDateTime.getMinutes()).padStart(2, '0');
      
          const defaultEndDateTime = `${endYear}-${endMonth}-${endDay}T${endHours}:${endMinutesFormatted}`;
      
          // Set the default value for the date_end input field
          $('#date_end').val(defaultEndDateTime);
          
          $('#createEventModal').modal('show');
      }

      function drawCalendar() {
          var Calendar = FullCalendar.Calendar;
          var calendarEl = document.getElementById('calendar');
          var today = new Date().toISOString().slice(0, 10)
          var initialView = 'timeGridWeek'
          var defaultHeaderToolBar = {
              left: 'prev,next today createButton',
              center: 'title',
              right: 'timeGridDay,timeGridWeek,timeGridFourDays,dayGridMonth,listMonth' // user can switch between the two
          }

          var mobileHeaderToolBar = {
              left: 'prev,next createButton',
              right: 'timeGridFourDays,dayGridMonth,listMonth' // user can switch between the two
          }
            if (isItMobile()) {
              defaultHeaderToolBar = mobileHeaderToolBar;
              initialView = 'timeGridFourDays'
          }
          calendar = new Calendar(calendarEl, {
              customButtons: {
                  createButton: {
                      text: " + {% trans "Create" %}",
                      click: function () {
                          showAddEventModal();
                      }
                  }
              },
              plugins: [],
              initialView: initialView,
              initialDate: today,
              firstDay: 1,
              themeSystem: 'bootstrap5',
              headerToolbar: defaultHeaderToolBar,
              views: {
                  timeGridFourDays: {
                      type: 'timeGrid',
                      duration: {days: 3},
                      buttonText: '3 days'
                  },
                  listMonth: {
                      type: 'listMonth',
                      eventDidMount: function (info) {
                          const event = info.event;
                          const element = info.el;
                          const now = new Date();
                          const eventEnd = event.end;
                          if (eventEnd && eventEnd < now) {
                              // Hide the entire row (including the date)
                              element.style.display = 'none';
                              $('.fc-day-past').hide();
                          }
                      }
                  }
              },
              locale: lang_code,
              scrollTime: dayStartsAt,
              events: '/dashboard/api/appointments/',
              eventDidMount: function (info) {
                  const event = info.event;
                  const element = info.el;
                  const now = new Date();
                  const eventEnd = event.end;
                  if (eventEnd && eventEnd < now && info.event.extendedProps.status !== "NO_SHOW") {
                      element.classList.add('post-event');
                  }
                  if (info.event.extendedProps.status === "NO_SHOW") {
                      element.classList.add('no-show-event');
                  }
              },
              eventClick: function (info) {
                  var apptmt = JSON.parse(JSON.stringify(info.event.extendedProps));
                  apptmt.client_full_name = info.event.title;
                  apptmt.id = info.event._def.publicId;
                  apptmt.start_datetime = info.event.startStr;
                  apptmt.end_datetime = info.event.endStr;
                  showEvent(apptmt);
              },
              dateClick: function (info) {
                  showAddEventModal(info.dateStr)
              },
          });
          calendar.render();
      }


      function isItMobile() {
          return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
      }

      function formatDate(strDate) {
          /// receives in format "2025-03-24T14:30:00+05:00" returns "24.03.2025"
          let date = new Date(strDate);

          let day = date.getDate().toString().padStart(2, "0");
          let month = (date.getMonth() + 1).toString().padStart(2, "0"); // Months are zero-based
          let year = date.getFullYear();

          return `${day}.${month}.${year}`;
      }

      function showEvent(appointment) {
          $('.client-phone').hide();
          $('.client-email').hide();
          $('.event-comment').hide();
          $('.event-action').hide();
          $('.time-update').hide();
          $('.cancel-appointment').hide();
          $('.no-show').hide();
          $('#time-update').val('');
          $('#event_comments').val('');
          $('#btn_change, #btn_cancel, #btn_no_show').prop('disabled', false);
          $(`#client_name`).text(appointment.client_full_name);
          $('#timeframe').text("" + appointment.start_datetime.slice(11, 16) + " - " + appointment.end_datetime.slice(11, 16) + "");
          $('#event_date').text(formatDate(appointment.end_datetime.slice(0, 10)));
          $('#btn_save_change').prop('disabled', true);
          if (appointment.client_phone) {
              $('#client_phone').text(appointment.client_phone);
              $('.client-phone').show();
          }
          if (appointment.client_email) {
              $('#client_email').text(appointment.client_email);
              $('.client-email').show()
          }
          $('#event_comments').val(appointment.comment);
          $('.event-comment').show();
          $('#event_services').empty();
          $.each(appointment.services, function (index, service) {
              let trow = `<li class="list-group-item list-group-item-secondary">${service.name} <span class="badge rounded-pill bg-primary"><i>${service.price.toLocaleString()}</i></span></li>`;
              $('#event_services').append(trow);
          });
          $('#event_status').text(appointment.status);

          selectedAppointment = appointment;
          const now = new Date();
          const eventStart = new Date(appointment.start_datetime);
          if (eventStart < now) {
              // Disable the buttons
              $('#btn_change, #btn_cancel').prop('disabled', true);
          }
          $('.action-buttons').show();
          $('#myModal').modal('show');
          console.log(selectedAppointment)
      }

      function onChangeButtonClick() {
          console.log("SHIR")
          $('.event-action').show();
          $('.time-update').show();
          $('.action-buttons').hide();
      }

      function backToEventActions() {
          $('.event-action').hide();
          $('.time-update').hide();
          $('.cancel-appointment').hide();
          $('.no-show').hide();
          $('.action-buttons').show();
      }

      function onCancelButtonClick() {
          $('.event-action').show();
          $('.cancel-appointment').show();
          $('.action-buttons').hide();
      }

      function onNoShowButtonClick() {
          $('.event-action').show();
          $('.no-show').show();
          $('.action-buttons').hide();
      }

      function checkTimeUpdateButton() {
          const timeUpdateValue = $('#time_update').val();
          const btnSaveChange = $('#btn_save_change');

          if (!timeUpdateValue) {
              // If the input is empty, disable the button
              btnSaveChange.prop('disabled', true);
              return;
          }

          const selectedDateTime = new Date(timeUpdateValue);
          const now = new Date();

          if (selectedDateTime > now) {
              // If the selected time is in the future, enable the button
              btnSaveChange.prop('disabled', false);
          } else {
              // If the selected time is in the past or present, disable the button
              btnSaveChange.prop('disabled', true);
          }
      }

      function updateAppointment(actionType) {
          const appointmentId = selectedAppointment.id;
          const postData = {
              action_type: actionType,
              comment: $('#event_comments').val()
          }
          if (actionType === 'change_time') {
              postData.new_datetime = $('#time_update').val();
          }
          postData.appointment_id = appointmentId;
          $.ajax({
              url: `/dashboard/api/appointments/${appointmentId}/update_appointment/`,
              type: 'POST',
              data: JSON.stringify(postData),
              contentType: 'application/json',
              headers: {
                  'X-CSRFToken': getCookie('csrftoken')
              },
              success: function (response) {
                  console.log(response.success);
                  $('#myModal').modal('hide');
                  showToast(response.success, "success");
                  calendar.refetchEvents();
              },
              error: handleAjaxError
          });
      }

      function handleAjaxError(error) {
          if (error.responseText.includes("Invalid request headers")) {
              location.reload();
          }
          showToast(`${error.status} ${error.statusText} /n ${error.responseText}`, "error");
      }

      function closeAddEventModal() {
          // Clear the input fields
          $('#date_start').val(''); // Clear the start date input
          $('#date_end').val('');   // Clear the end date input
          $('#comment').val('');    // Clear the comment textarea

          // Close the modal
          $('#createEventModal').modal('hide');
      }
      
      function createGuestAppointment() {
          const star_date = $('#date_start').val();
          const end_date = $('#date_end').val();
          const comment = $('#comment').val();
          const postData = {
              "start_date": star_date,
              "end_date": end_date,
              "comment": comment
          }
          $.ajax({
              url: `/dashboard/api/appointments/create_guest_appointment/`,
              type: 'POST',
              data: JSON.stringify(postData),
              contentType: 'application/json',
              headers: {
                  'X-CSRFToken': getCookie('csrftoken')
              },
              success: function (response) {
                  console.log(response.success);
                  $('#createEventModal').modal('hide');
                  showToast(response.success, "success")
                  calendar.refetchEvents();
              },
              error: handleAjaxError
          })
      }
  </script>

{% endblock %}

