{% extends "booket/client/container.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% block title %} {% trans 'Main' %} {% endblock %}

{% block content %}
  <style>
      @media (max-width: 768px) {
          .container-main {
              padding: 5px;
          }

          .card-person {
              margin-bottom: 7px;
          }
      }

      @media (min-width: 768px) {
          .container-main {
              padding-bottom: 30px;
              padding-left: 30px;
              padding-right: 30px;
          }

          .card-person {
              margin: 25px;
          }
      }

      .service-row {
          cursor: pointer; /* Change cursor to pointer on hover */
      }

      .selected {
          background-color: #c4bdbd; /* Light gray background for selected row */
      }

      .price {
          font-size: 15px;
      }

      .popover {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjust the shadow as needed */
      }

      .service-checkbox {
          float: right;
          width: 20px;
      }

      .active-date {
          color: yellow;
          font-weight: bold;
      }
  </style>
  {% get_current_language as LANG_CODE %}
  <div class="container-fluid container-main">
  <div class="row">
    <div class="col-12">
      <form id="setlangform" style="float: right;" action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">{% trans "Language:" %}</span>
          </div>
          <input type="hidden" name="text" value="{{ redirect_to }}">
          <select class="form-control" id="cur_lang" name="language" onchange="submitlang()">
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
              <option class="form-control" value="{{ language.code }}"
                {% if language.code == LANG_CODE %} selected {% endif %}>
                {{ language.name_local }}
              </option>
            {% endfor %}
          </select>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <!-- Carousel -->
    <div id="caruso" class="carousel slide shadow" data-bs-ride="carousel">
      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        {% for f in provider.providerphotos_set.all %}
          <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
            <img class="d-block w-100 rounded" src="{{ f.photo.url }}" alt="{{ f.id }}">
          </div>
        {% endfor %}
      </div>

      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="container">
      <h3 style="text-align: center; padding: 10px; text-shadow: 2px 2px 5px darkgrey">{{ provider.name }}</h3>
      {{ provider.description|safe }}
    </div>
  </div>
  <div class="container>" style="margin-top: 20px">
  <div class="card shadow">
  <div class="card-header">
    <div class="card-title">
      <h5 class="text-center">{% trans 'Services' %}</h5>
    </div>
  </div>
  <div class="card-body">
  <div class="row">
    {% for tip in provider.service_type.all %}
      {% if tip.is_active == True %}
        {% if provider.service_type.all|length == 1 %}
          <div class="col-lg-12 col-md-6 col-sm-12 text-center">
        {% elif provider.service_type.all|length == 2 %}
          <div class="col-lg-6 col-md-6 col-sm-12">
        {% elif provider.service_type.all|length == 3 %}
          <div class="col-lg-4 col-md-6 col-sm-12">
        {% else %}
          <div class="col-lg-3 col-md-6 col-sm-12">
        {% endif %}
      <table class="table table-sm table-hover thead-dark">
        <thead>
        <tr>
          {% if LANG_CODE == "uz" %}
            <th>{{ tip.name_uz }}</th>
          {% elif LANG_CODE == "ru" %}
            <th>{{ tip.name_ru }}</th>
          {% else %}
            <th>{{ tip.name }}</th>
          {% endif %}
          <th style="text-align: right;"></th>
        </tr>
        </thead>
        <tbody>
        {% for service in tip.service_set.all %}
          <!-- Service Row -->
          <tr class="service-row" data-service-id="{{ service.id }}">
            {% if LANG_CODE == "uz" %}
              <td><i class="fa-solid fa-caret-left fa-lg" style="color: #0052be"></i> {{ service.name_uz }}
                <i class="price">
                  <span class="badge bg-primary rounded-pill">( {{ service.price|intcomma }} dan)</span>
                </i>
              </td>
            {% elif LANG_CODE == "ru" %}
              <td><i class="fa-solid fa-caret-left fa-lg"></i>{{ service.name_ru }}
                <i class="price">
                  <span class="badge bg-primary rounded-pill">( от {{ service.price|intcomma }})</span>
                </i>
              </td>
            {% else %}
              <td><i class="fa-solid fa-caret-left fa-lg" style="color: #0052be"></i> {{ service.name }}
                <i class="price">
                  <span class="badge bg-primary rounded-pill">(from {{ service.price|intcomma }})</span>
                </i>
              </td>
            {% endif %}
            <td style="text-align: right;">
              <button class="btn btn-primary btn-sm" data-bs-toggle="popover" data-bs-trigger="focus"
                      data-bs-content="{{ service.description|safe }}">
                <i class="fa-solid fa-arrow-circle-o-right"></i>
              </button>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      </div>
      {% endif %}
    {% endfor %}
    </div>
    </div>
    </div>
  </div>
  <div class="container-fluid" style="margin-top: 15px">
    <div class="card shadow">
      <div class="card-header">
        <div class="card-title">
          <h5 class="text-center">{% trans 'Specialists' %}</h5>
        </div>
        <div class="card-body">
          <div class="row">
            {% for ps in provider.providerserver_set.all %}
              <div class="col-lg-3 col-md-6 col-sm-12 text-center">
                <div class="card shadow card-person">
                  <img class="card-img-top" src="{{ ps.server.image.url }}" alt="Card image" style="width:100%;">
                  <div class="card-body">
                    <h4 class="card-title">{{ ps.server.user.get_full_name }}</h4>
                    <div style="max-height: 2em !important; overflow: hidden; position: relative;"
                         id="server-info-{{ forloop.counter }}">
                      {{ ps.server.info|safe }}
                    </div>
                    <button class="btn btn-sm more-info shadow" data-target="#server-info-{{ forloop.counter }}"
                            style="display: block; text-align: center; width: 100%; background-color: darkgrey;">
                      {% trans 'More' %}
                      <i class="fa-solid fa-angles-down"></i>
                    </button>
                    <button class="btn btn-sm btn-primary shadow"
                            onclick="selectServer('{{ ps.server.id }}', '{{ ps.server.user.first_name }}')"
                            style="width: 100%; text-align: center; margin-top: 3px;">
                      {% trans 'Book appointment' %}
                      <i class="fa-solid fa-calendar-check"></i>
                    </button>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- The Modal -->
  <div class="modal modal-lg fade" id="customModal" data-bs-keyboard="false" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">{% trans "Specialist" %} <i class="fa-solid fa-clipboard-user"></i> <span
          id="server_name">Server Name</span></h5>
        <button type="button" onclick="closeModal()" class="btn btn-danger btn-sm btn-close"
                data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div id="service_list" class="serviceList">
          <div class="row" id="service_row">
          </div>
        </div>
        <div id="time_slots" class="timeSlot" style="display: none">
          <div class="d-flex mb-3">
            <div class="p-2 flex-grow-1 bg-primary">
              <span style="float: left; color: white;">{% trans "Select date and time!" %}</span>
              <span style="float: right; color: yellow;">{% trans "Estimated service time" %}:
                <i class="fa-solid fa-clock"></i>
                <span id="estimatedDuration">60</span>{% trans "min" %}
              </span>
            </div>
          </div>
          <div class="row" id="time_slot_row" style="width: 100%;">
            <!-- Date Selection -->
            <div class="col-12 text-center">
              <div class="btn-group">
                <button class="btn btn-warning btn-outline-primary" onclick="getDates('previous')" id="prevDate"
                        style="width: 45px;">&lt;&lt;
                </button>
                <div id="dateList" class="btn-group">
                  <button class="btn btn-outline-primary">DATE</button>
                  <button class="btn btn-outline-primary">DATE2</button>

                </div>
                <button class="btn btn-warning btn-outline-primary" onclick="getDates('next')" id="nextDate"
                        style="width: 45px;">&gt;&gt;
                </button>
              </div>
            </div>
          </div>
          <!-- Time Slot Selection -->
          <div id="timeSlots" class="d-flex flex-wrap gap-2" style="margin-top: 15px;">
          </div>
        </div>
        <!-- Confirmation panel -->
        <div id="confirmation" class="confirmation" style="display: block;">
          <div class="card shadow">
            <div class="card-body">
              <table class="table table-hover table-striped table-responsive">
                <tbody>
                <tr class="table-primary">
                  <td>{% trans "Time" %}</td>
                  <td id="appointmentDateTime">
                    <i class="fa-solid fa-clock"></i><b><span id="appointmentTime"></span></b>
                    <span id="appointmentDate"></span>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" class="text-center"><b><i
                    class="fa-solid fa-list-ul"></i> {% trans "Selected services" %}
                  </b></td>
                </tr>
                </tbody>
                <tbody id="selectedServiceList">
                <tr>
                  <td colspan="2">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <span style="float: left">Service name</span> <span style="float: right"><i
                        class="fa-solid fa-money-bills"></i> 120,000</span>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <span>estimated duration</span> <span style="float: right"><i
                        class="fa-solid fa-hourglass-half"></i> 60 {% trans 'minutes' %}</span>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <div class="row">
                      <div class="col-lg-3 col-md-6 col-sm-12">
                        Service name 2<i class="fa-solid fa-money-bills"></i> 100,000
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-12">
                        Estimated duration <i class="fa-solid fa-hourglass-half"></i> 60 minut
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
                <tfoot id="tableFooter" style="display: none;">
                <tr class="table-dark">
                  <td><i class="fa-solid fa-money-check-dollar fa-fade"></i> {% trans "Total" %}: <span id="totalSum"> 230,000</span>
                  </td>
                  <td><i class="fa-solid fa-clock fa-spin"></i> {% trans "Estimated duration" %}: <span
                    id="totalDuration"> 130 </span>{% trans "minutes" %}
                  </td>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <div class="card shadow">
            <div class="card-body text-center d-flex justify-content-center">
              <form id="clientConfirmationForm">
                {% csrf_token %}
                <input type="hidden" name="provider_id" value="{{ provider.id }}">
                <h6>{% trans "Confirm the appointment by" %}</h6>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="confirmation_method" id="phoneRadio"
                         value="phone" checked>
                  <label class="form-check-label" for="phoneRadio">{% trans "Phone number" %}</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="confirmation_method" id="emailRadio"
                         value="email">
                  <label class="form-check-label" for="emailRadio">{% trans "Email" %}</label>
                </div>
                <div id="emailInput" class="mb-3 mt-3" style="max-width: 350px; display: none;">
                  <label for="email" class="form-label" style="float: left;">{% trans "Email" %}:</label>
                  <input type="email" class="form-control form-control-sm" id="email" name="email" required>
                </div>
                <div id="phoneInput" class="mb-3 mt-3" style="max-width: 350px;">
                  <label for="email" class="form-label" style="float: left;">{% trans "Phone" %}:</label>
                  <div class="input-group input-group-sm">
                    <span class="input-group-text">+998</span>
                    <input type="text" class="form-control form-control-sm" id="phone" name="phone" required>
                  </div>
                </div>
                <div class="client_info_input" style="display: none;">
                  <div class="mb-3 mt-3" style="max-width: 350px;">
                    <label for="full_name" class="form-label" style="float: left;">{% trans "Full name" %}:</label>
                    <input type="text" class="form-control form-control-sm" id="full_name" name="full_name">
                  </div>
                  <div class="row mt-2">
                    <div class="col-6">
                      <label for="dob" class="form-label">{% trans "Date of birth" %}:</label>
                      <input type="date" class="form-control form-control-sm" id="dob" name="dob">
                    </div>
                    <div class="col-6">
                      <label for="sex" class="form-label">{% trans "Gender" %}:</label>
                      <select class="form-select form-select-sm" id="sex" name="sex">
                        <option value="male">{% trans "Male" %}</option>
                        <option value="female">{% trans "Female" %}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!-- Confirmation Button -->
                <div class="mb-3">
                  <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="agree" name="agree" value="agree" required>
                    <label class="form-check-label" for="agree"><span style="color: red">* </span><a href="#">{% trans "Agree to terms of use" %}</a></label>
                  </div>
                  <button type="button" disabled class="btn btn-success">{% trans "Confirm" %}</button>
                </div>
                <!-- Confirmation Code Input -->
                <div style="display: none;" class="confirmation_code_input">
                  <div class="mb-3">
                    <label for="confirmation_code" class="form-label">{% trans "Confirmation Code" %}:</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="confirmation_code" name="confirmation_code"
                             placeholder="Enter Code">
                      <button class="btn btn-secondary" id="resendBtn" disabled>{% trans "Confirm" %} (<span id="timer">60</span>)
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">

          <button type="button" class="btn btn-primary btn-sm shadow serviceList" disabled id="nextBtn"
                  onclick="transitionToTimeSlots()">{% trans 'Next' %}</button>
          <button type="button" onclick="closeModal()" class="btn btn-danger btn-sm shadow serviceList"
                  data-bs-dismiss="modal">{% trans "Close" %}</button>


          <button id="nextBtn2" type="button" class="btn btn-success btn-sm shadow timeSlot"
                  onclick="transitionToConfirmation()" style="display: none;" disabled>{% trans 'Next' %}</button>
          <button type="button" class="btn btn-warning btn-sm shadow timeSlot" style="display: none;"
                  onclick="backToServices()">{% trans 'Back' %}</button>

          <button type="button" class="btn btn-danger btn-sm shadow confirmation"
                  onclick="transitionToTimeSlots()" style="display: none;">{% trans 'Back' %}</button>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  {{ block.super }}
  <script>
      var appointment = {}
      appointment['services'] = []
      var responseData = {}
      var lastDate;
      var firstDate;
      var cur_lang = document.getElementById('cur_lang').value;
      var signature = "{{ signature }}"

      $(document).ready(function () {

          // Initialize Bootstrap popovers globally
          $('[data-bs-toggle="popover"]').popover();

          // Use Event Delegation to Listen for Checkbox Changes
          $(document).on('change', '.service-checkbox', function () {
              $('#nextBtn').prop('disabled', $('.service-checkbox:checked').length === 0);

              let serviceId = $(this).data('id');
              let price = $(this).data('price');
              let duration = $(this).data('duration');
              let serviceName = $(this).data('name');

              if ($(this).is(':checked')) {
                  // Add selected service
                  appointment.services.push({
                      service_id: serviceId,
                      service_name: serviceName,
                      price: price,
                      duration: duration
                  });
              } else {
                  // Remove unchecked service
                  appointment.services = appointment.services.filter(service => service.service_id !== serviceId);
              }
          });


          // Loop through all .more-info buttons
          $(".more-info").each(function () {
              var $button = $(this);  // The More/Less button
              var $textContainer = $("#" + $button.data("target").substring(1)); // Get the text container based on the data-target attribute

              // Initially, set the height of the text container to 2em (show only part of the content)
              var initialHeight = $textContainer[0].scrollHeight; // Full content height (scrollHeight gives the full content size)
              var collapsedHeight = 2 * parseFloat(getComputedStyle($textContainer[0]).lineHeight); // Limit to 2 lines of text (adjust this value as needed)

              // Set the initial height to 2em
              $textContainer.css("max-height", collapsedHeight);

              // Show "More" button if the content exceeds the collapsed height
              if (initialHeight > collapsedHeight) {
                  $button.show(); // Show the "More" button
              }

              // Handle the "More" link click to show full content
              $button.click(function (e) {
                  e.preventDefault(); // Prevent default button behavior

                  // Toggle between expanding and collapsing
                  if ($textContainer.css("max-height") === `${collapsedHeight}px`) {
                      // Expand content and change button text
                      $textContainer.css("max-height", initialHeight); // Remove height limit and show full content
                      $button.html("{% trans 'Less' %} <i class='fa-solid fa-angles-up'></i>");
                  } else {
                      // Collapse content and change button text
                      $textContainer.css("max-height", collapsedHeight); // Limit the content to 2em
                      $button.html("{% trans 'More' %} <i class='fa-solid fa-angles-down'></i>");
                  }
              });
          });

/////////////////  Confirmation Method select ////////////////////////
          $('input[name="confirmation_method"]').change(function () {
              if ($('#phoneRadio').is(':checked')) {
                  $('#phoneInput').show();
                  $('#emailInput').hide();
              } else if ($('#emailRadio').is(':checked')) {
                  $('#phoneInput').hide();
                  $('#emailInput').show();
              }
          });
      });


      function closeModal() {
          $('#customModal').modal('hide');
          appointment = {}
          appointment['services'] = []
          responseData = {}
      }

      //////////////////// GO TO CONFIRMATION Panel ////////////////////////
      function transitionToConfirmation() {
          console.log(appointment)
          $('#appointmentTime').text(" " + appointment.time);
          $('#appointmentDate').text("  " + formatDatetoDMY(appointment.date) + " ");

          $('#selectedServiceList').empty()
          $.each(appointment.services, function (index, service) {
              let trow = `<tr><td colspan="2"><div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                              <span style="float: left">${service.service_name}</span>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                              <span><i class="fa-solid fa-money-bills"></i> ${service.price.toLocaleString()} sum</span>
                              <span style="float: right"><i class="fa-solid fa-hourglass-half"></i> ${service.duration} minut</span>
                            </div>
                          </div></td></tr>`
              $('#selectedServiceList').append(trow);
          });

          if (appointment.services.length > 1) {
              $('#totalDuration').text(calculateTotalDuration(appointment.services));
              $('#totalSum').text(calculateTotalSum(appointment.services).toLocaleString());

              $('#tableFooter').show();
          }

          $('.timeSlot').hide()
          $('.confirmation').show()
      }


      /////////////////////// FETCH  NEXT PREVIOUS 5 days ///////////////////////////
      function getDates(direction) {
          if (direction === "next") {
              date_param = modifyDate(lastDate, 1);
          } else {
              date_param = modifyDate(lastDate, -9);
          }
          let endpoint = "/provider-server/" + responseData.server_id + "/available-slots/?start_date=" + date_param;
          $.ajax({
              url: endpoint,
              type: "GET",
              dataType: "json",
              headers: {'X-CSRFToken': getCookie('csrftoken'), 'X-Signature': signature},
              success: function (response) {
                  renderDates(response.available_slots);
              },
              error: function (error) {
                  console.log(error.responseJSON);
                  showToast(`${error.status} ${error.statusText} /n ${error.responseText}`, "error");
              }

          });
      }

      function calculateTotalDuration(services) {
          let totalDuration = services.reduce((sum, service) => sum + service.duration, 0);
          $("#estimatedDuration").text(totalDuration);
          return totalDuration;
      }

      function calculateTotalSum(services) {
          return services.reduce((sum, service) => sum + service.price, 0);
      }

      //////////////////////   GO TO THE TIME SLOT SELECTION ////////////////////////
      function transitionToTimeSlots() {
          calculateTotalDuration(appointment.services);

          $('.serviceList').hide();
          $('.confirmation').hide();
          $('.timeSlot').show();
      }

      function backToServices() {
          $('.timeSlot').hide()
          $('.serviceList').show()
      }

      // Function to format the date
      function formatDate(isoDate) {
          let dateParts = isoDate.split('-');
          return dateParts[2] + '-' + dateParts[1]; // DD-MM format
      }

      function formatDatetoDMY(inputDate) {
          let date = new Date(inputDate); // Convert string to Date object

          let day = String(date.getDate()).padStart(2, '0'); // Get day with leading zero
          let month = String(date.getMonth() + 1).padStart(2, '0'); // Get month (0-based index)
          let year = date.getFullYear(); // Get full year

          return `${day}.${month}.${year}`; // Format as dd.mm.yyyy
      }

      function renderDates(available_time_slots) {
          $("#dateList").empty();
          $("#timeSlots").empty();

          $.each(available_time_slots, function (index, item) {
              let dateBtn = $("<button>")
                  .addClass("btn btn-outline-primary btn-sm")
                  .text(formatDate(item.date))
                  .on("click", function () {
                      $("#dateList button").removeClass("btn-primary active-date");
                      $(this).addClass("btn-primary active-date");
                      appointment.date = item.date;
                      renderTimeSlots(item.slots);
                  });

              if (index === 0) {
                  dateBtn.addClass("btn-primary active-date");
                  renderTimeSlots(item.slots);
                  appointment.date = item.date;
                  firstDate = item.date;
              }
              lastDate = item.date;
              $("#dateList").append(dateBtn);
          });
      }

      function renderTimeSlots(slots) {
          $("#timeSlots").empty();

          $.each(slots, function (index, time) {
              let timeBtn = $("<button>")
                  .addClass("btn btn-outline-secondary px-3 py-2 rounded-3 shadow")
                  .text(time)
                  .on("click", function () {
                      $("#timeSlots button").removeClass("btn-primary active-date");
                      let totalDuration = calculateTotalDuration(appointment.services);
                      let available = isSlotAvailable(time, totalDuration, slots);
                      if (available) {
                          $(this).addClass("btn-primary active-date");
                          appointment.time = time;
                          $('#nextBtn2').prop('disabled', false);
                      } else {
                          $('#nextBtn2').prop('disabled', true);
                          if (cur_lang === "uz") {
                              popoverMessage = "Umumiy xizmatlar davomiyligi <b>" + totalDuration +
                                  "</b> minut tanlangan vaqt <b>" + time + "</b> dan keyingi vaqt oraligi'ida mavjud emas. Iltimos boshqa vaqtni tanlang!."
                          } else if (cur_lang === "ru") {
                              popoverMessage = "Общая продолжительность услуги <b>" + totalDuration + "</b> минут не может быть выделена в промежуток времени с <b>" + time + "</b>. Пожалуйста, выберите другое время."
                          } else {
                              popoverMessage = "Total service duration <b>" + totalDuration +
                                  "</b> minutes cannot be allocated to timeframe from <b>" + time + "</b>. Please choose another slot."
                          }

                          // Hide all popovers before showing a new one
                          $('[data-bs-toggle="popover"]').popover("hide"); // Hides all active popovers
                          // Destroy existing popover before setting a new one
                          $(this).popover("dispose").popover({
                              content: popoverMessage, // Dynamic content
                              html: true,
                              placement: "top"
                          }).popover("show");

                          // Hide popover automatically after 5 seconds
                          setTimeout(() => {
                              $(this).popover("hide");
                          }, 4000);
                      }

                  });

              $("#timeSlots").append(timeBtn);
          });
      }

      function isSlotAvailable(selectedTime, totalDuration, availableSlots) {
          let startTime = moment(selectedTime, "HH:mm");  // Convert start time to Moment.js
          let endTime = startTime.clone().add(totalDuration, "minutes"); // Calculate end time
          let requiredSlots = [];

          // Generate the required time slots
          while (startTime.isBefore(endTime)) {
              requiredSlots.push(startTime.format("HH:mm"));  // Add to required slots
              startTime.add(30, "minutes");  // Move to next 30-min slot
          }

          // Check if all required slots exist in availableSlots
          return requiredSlots.every(slot => availableSlots.includes(slot));
      }


      /////////////////////// FILL SERVICES ON SERVER SELECTED FOR BOOKING ////////////////////////////////
      function fillServices(service_types, language_code) {
          $('#service_row').empty();
          $.each(service_types, function (index, service_type) {
              // Choose the correct service type name based on language
              let serviceTypeName = language_code === "uz" ? service_type.name_uz :
                  language_code === "ru" ? service_type.name_ru :
                      service_type.name;

              // Create a table element
              let table = `
            <div class="col-lg-6 col-md-12 col-sm-12">
                <table class="table table-sm table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>${serviceTypeName}</th>
                        </tr>
                    </thead>
                    <tbody>
        `;

              // Loop through services and create table rows
              $.each(service_type.services, function (i, service) {
                  let price = service.service_private_price !== null ? service.service_private_price : service.price;
                  let serviceName = language_code === "uz" ? service.name_uz :
                      language_code === "ru" ? service.name_ru :
                          service.name;

                  table += `
                <tr>
                    <td>${serviceName}
                    <span class="badge bg-primary rounded-pill"><i>(${price.toLocaleString()})</i></span>
                        <input type="checkbox" class="service-checkbox form-check"
                               data-id="${service.id}"
                               data-name="${serviceName}"
                               data-price="${price}"
                               data-duration="${service.duration}">
                    </td>
                </tr>
            `;
              });

              // Close table tags
              table += `
                    </tbody>
                </table>
            </div>
        `;

              // Append the table inside the modal body (service_row)
              $('#service_row').append(table);
          });

      }

      function selectServer(p_server_id, server_name) {
          var endpoint = "/provider-server/" + p_server_id + "/";
          var lang_code = $('#cur_lang').val();
          $("#server_name").text(server_name);
          $.ajax({
              url: endpoint,
              type: "GET",
              dataType: "json",
              headers: {'X-CSRFToken': getCookie('csrftoken'), 'X-Signature': signature},
              success: function (response) {
                  responseData = response
                  appointment.server_id = p_server_id;
                  fillServices(services = response.service_types, language_code = lang_code);
                  renderDates(responseData.available_time_slots);
                  $('#customModal').modal('show');
              },
              error: function (error) {
                  console.log(error.responseJSON);
                  showToast(`${error.status} ${error.statusText} /n ${error.responseText}`, "error");
              }
          })
      }

      function submitlang() {
          $('#setlangform').submit();
      }

      // Initialize all popovers on the page
      document.addEventListener('DOMContentLoaded', function () {
          var popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
          var popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));
      });


      function modifyDate(dateStr, days) {
          let date = new Date(dateStr); // Convert YYYY-MM-DD to Date object
          date.setDate(date.getDate() + days); // Add/Subtract days
          let newDate = date.toISOString().split('T')[0]; // Format back to YYYY-MM-DD
          return newDate;
      }
      

  </script>
{% endblock %}